@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;400;700&family=Inter:wght@400;800&family=League+Spartan:wght@100&display=swap');

// COLORS
$base-white: #FFFFFF;
$dark-blue: #070724;
$dark-grey: #38384F;
$light-grey: #838391;
$light-blue: #419EBB;
$light-orange: #EDA249;
$dark-orange: #CD5120;
$purple: #6f2ed6;
$light-red: #D14C32;
$dark-red: #D83A34;
$light-blueish-green: #1ec2a4;
$darkish-blue: #2d68f0;
$light-purple: #6D2ED5;
$light-blueish-green2: #1EC1A2;
//MOBILE NAVIGATION BULLET COLORS

$mercury-bullet: #DEF4FC;
$venus-bullet: #F7CC7F;
$earth-bullet: #545BFE;
$mars-bullet: #FF6A45;
$jupiter-bullet: #ECAD7A;
$saturn-bullet: #FCCB6B;
$uranus-bullet: #65F0D5;
$neptune-bullet: #497EFA;



// TYPOGRAPHY
$antonio: 'Antonio', sans-serif;
$inter: 'Inter', sans-serif;
$spartan: 'League Spartan', sans-serif;

// FONT WEIGHTS
$very-light: 100;
$light: 200;
$regular: 400;
$bold: 700;
$very-bold: 800;
// FONT SIZES

$smallest-font: 0.688rem; // 11px
$small-font: 0.75rem; // 12px
$medium-font: 0.875rem; // 14px
$regular-font: 1.25rem; // 20px
$slightly-large-font: 1.5rem; // 24px
$large-font: 2.5rem; // 40px
$largest-font: 5rem; // 80px

// LETTER SPACING
$regular-spacing: 0.06rem; // 1px
$medium-spacing: 0.1rem; // 1.6px
$wide-spacing: 0.163rem; // 2.6px
$negative-spacing: -0.1rem; // -1.5px
// LINE HEIGHTS
$regular-line: 1.5rem; // 24px
$high-line: 3.26rem; // 52px
$highest-line: 6.44rem; // 103px

