@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;400;700&family=Inter:wght@400;800&family=League+Spartan:wght@100&display=swap');

// COLORS
$base-white: #FFFFFF;
$dark-blue: #070724;
$dark-grey: #38384F;
$light-grey: #838391;
$light-blue: #419EBB;
$light-orange: #EDA249;
$dark-orange: #CD5120;
$purple: #6f2ed6;
$light-red: #D14C32;
$dark-red: #D83A34;
$light-blueish-green: #1ec2a4;
$dark-blue: #2d68f0;

// TYPOGRAPHY
$antonio: 'Antonio', sans-serif;
$inter: 'Inter', sans-serif;
$spartan: 'League Spartan', sans-serif;

// FONT WEIGHTS
$very-light: 100;
$light: 200;
$regular: 400;
$bold: 700;

// FONT SIZES

$smallest-heading: 0.688rem; // 11px
$small-heading: 0.75rem; // 12px
$medium-heading: 0.875rem; // 14px
$large-heading: 2.5rem; // 40px
$largest-heading: 5rem; // 80px

// LETTER SPACING
$regular-spacing: 0.06rem; // 1px
$medium-spacing: 0.1rem; // 1.6px
$wide-spacing: 0.163rem; // 3.2px

// LINE HEIGHTS
$regular-line-height: 1.5rem; // 24px
$high-line: 3.26rem; // 52px
$highest-line: 6.44rem; // 103px

