@import "../../../sass/config";

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // padding: 1rem;
  border-bottom: 1px solid $light-grey;
  .logo {
    font-size: $slightly-large-font;
    font-family: $antonio;
    font-weight: $regular;
    text-decoration: none;
    color: $base-white;
  }
  ul {
    list-style: none;
    z-index: 1;
  }

  &-item {
    all: unset;
    cursor: pointer;
    font-size: $slightly-large-font;
    font-family: $spartan;
    font-weight: $bold;
    margin: 1rem;
  }

  &-planet {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: flex-start;
    margin-left: 0.75rem;
    width: 90%;

    &-name {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-self: flex-start;
      margin-left: 1rem;
    }
  }

  .bullet {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    margin: 1rem;
    display: inline-block;
    &.bullet-mercury {
      background-color: $mercury-bullet;
    }
    &.bullet-venus {
      background-color: $venus-bullet;
    }
    &.bullet-earth {
      background-color: $earth-bullet;
    }
    &.bullet-mars {
      background-color: $mars-bullet;
    }
    &.bullet-jupiter {
      background-color: $jupiter-bullet;
    }
    &.bullet-saturn {
      background-color: $saturn-bullet;
    }
    &.bullet-uranus {
      background-color: $uranus-bullet;
    }
    &.bullet-neptune {
      background-color: $neptune-bullet;
    }
  }
}

.mobile-nav {
  display: none;
}
.desktop-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.desktop-menu > li {
  margin: 0 1rem;
  overflow: hidden;
  color: $base-white;
}

.checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 1rem;
  right: 1rem;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  cursor: pointer;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  // z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: $base-white;
    .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
    .line2 {
      transition: transform 0.2s ease-in-out;
    }
    .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  }
}

.nav input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg) translate(8px, 8px);
}

.nav input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  opacity: 0;
}
.nav input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg) translate(8px, -8px);
}

.nav input[type="checkbox"]:checked ~ .menu {
  display: flex;
  transform: translateY(0);
}

.desktop-nav-item {
  all: unset;
  cursor: pointer;
  font-size: $medium-font;
  font-family: $spartan;
  font-weight: $bold;
  margin: 0.5rem;
}

@media (max-width: 700px) {
  .nav {
    padding: 1rem;
  }
  .mobile-nav {
    display: block;
  }

  .desktop-menu {
    display: none;
  }
  .menu {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-color: $dark-blue;
  }
  .menu > li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    align-items: center;

    p {
      font-size: $slightly-large-font;
      font-family: $spartan;
      font-weight: $bold;
      align-self: center;
      opacity: 0.5;
      cursor: pointer;
    }
  }

  .menu > li .line {
    width: 90%;
    border: 1px solid $base-white;
    opacity: 0.5;
  }
}

.swing-in-top-bck {
  -webkit-animation: swing-in-top-bck 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    both;
  animation: swing-in-top-bck 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@media(min-width: 700px) and (max-width: 1080px) {
  .nav {
    flex-direction: column;
  }

  .desktop-menu {
    width: 100%;
    justify-content: space-around;
  }
  .desktop-menu > li {
    margin: 0;
  }

  .desktop-nav-item {
    font-size: $medium-font;
    margin: 1.5rem 1rem;
  }

  .logo {
    margin: 2rem 1.375rem;
  }
}

@media(min-width:1080px) {
  .logo {
    margin: 0 2rem;
  }
  .desktop-menu > li {
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
    &.mercury-btn:hover{ 
        border-top: 0.25rem solid $light-blue;
        padding-top: 0.75rem;
    }
    &.venus-btn:hover{ 
        border-top: 0.25rem solid $light-orange;
        padding-top: 0.75rem;
    }
    &.earth-btn:hover{ 
        border-top: 0.25rem solid $light-purple;
        padding-top: 0.75rem;
    }
    &.mars-btn:hover{ 
        border-top: 0.25rem solid $light-red;
        padding-top: 0.75rem;
    }
    &.jupiter-btn:hover{ 
        border-top: 0.25rem solid $dark-red;
        padding-top: 0.75rem;
    }
    &.saturn-btn:hover{ 
        border-top: 0.25rem solid $dark-orange;
        padding-top: 0.75rem;
    }
    &.uranus-btn:hover{ 
        border-top: 0.25rem solid $light-blueish-green2;
        padding-top: 0.75rem;
    }
    &.neptune-btn:hover{ 
        border-top: 0.25rem solid $darkish-blue;
        padding-top: 0.75rem;
    }
    
  }
  .nav {
    padding: 0;
  }
}