<nav class="nav">
  <a routerLink="/" routerLinkActive="active" class="logo">THE PLANETS</a>
  <div class="mobile-nav">
    <input class="checkbox" type="checkbox" />
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <ul class="menu swing-in-top-bck">
      <li *ngFor="let route of routes; let i = index">
        <div class="nav-planet">
          <div class="bullet bullet-{{route | lowercase }}"></div>
          <button
            class="nav-item"
            (click)="onPlanetClick(route)"
          >
            {{ route | uppercase }}
          </button>
        </div>
        <p> > </p>
      </li>
    </ul>
  </div>
  <ul class="desktop-menu">
    <li *ngFor="let route of routes">
      <button
        class="nav-item"
        (click)="onPlanetClick(route)"
      >
        {{ route }}
      </button>
    </li>
  </ul>
</nav>
