@import "../../../sass/config";

.phone-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.01rem solid $light-grey;
  .tab {
    display: none;
    &:checked + label {
      color: $base-white;
      padding-bottom: 1rem;
    }
    &:checked + .mercury-label {
      border-bottom: 0.25rem solid $light-blue;
    }
    &:checked + .venus-label {
      border-bottom: 0.25rem solid $light-orange;
    }
    &:checked + .earth-label {
      border-bottom: 0.25rem solid $light-purple;
    }
    &:checked + .mars-label {
      border-bottom: 0.25rem solid $light-red;
    }
    &:checked + .jupiter-label {
      border-bottom: 0.25rem solid $dark-red;
    }
    &:checked + .saturn-label {
      border-bottom: 0.25rem solid $dark-orange;
    }
    &:checked + .uranus-label {
      border-bottom: 0.25rem solid $light-blueish-green2;
    }
    &:checked + .neptune-label {
      border-bottom: 0.25rem solid $darkish-blue;
    }
  }
  .info-label {
    font-size: $small-font;
    font-family: $spartan;
    cursor: pointer;
    font-weight: $bold;
    color: $light-grey;
    padding: 1.25rem;
    letter-spacing: $medium-spacing;
  }
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-source {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: $light-grey;
  a {
    color: $light-grey;
    margin: 0 0.25rem;
    cursor: pointer;
    &:hover {
      color: $base-white;
    }
  }
}
.general-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.25rem;
  width: 80vw;
  border: 0.01rem solid $light-grey;

  .stats {
    font-family: $antonio;
    font-weight: $regular;
    color: $base-white;
    font-size: $large-font !important;
  }
}
.geology {
  position: absolute;
}
// MEDIA QUERIES FOR PHONE USERS
@media (max-width: 700px) {
  .planet {
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-name {
      font-size: $large-font;
      font-family: $antonio;
      font-weight: $regular;
      letter-spacing: $medium-spacing;
      text-align: center;
      margin: 1rem 0;
    }
    &-text {
      font-size: $medium-font;
      line-height: $regular-line;
      text-align: center;
      padding: 0 1rem;
    }
    &-image {
      margin: 2rem 0;
      &.mercury {
        width: 30%;
      }
      &.venus {
        width: 40%;
      }
      &.earth {
        width: 45%;
      }
      &.mars {
        width: 35%;
      }
      &.jupiter,
      &.saturn,
      &.uranus,
      &.neptune {
        width: 50%;
      }
    }
  }
  .info-tabs {
    display: none;
  }
}

@media (min-width: 700px) {
  .planet {
    &-name,
    &-text {
      margin: 1rem 0;
    }
    &-image {
      margin: 2rem 0;
      &.mercury {
        width: 25%;
      }
      &.venus {
        width: 35%;
      }
      &.earth {
        width: 40%;
      }
      &.mars {
        width: 35%;
      }
      &.jupiter {
        width: 45%;
      }
      &.saturn {
        width: 45%;
      }
      &.uranus,
      &.neptune {
        width: 45%;
      }
    }
  }
  .phone-tabs {
    display: none;
  }
  .info {
    &-container {
      display: flex;
      flex-direction: row;
      height: 30vh;
      margin: 1rem 0;
    }
    &-text {
      width: 60%;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-source {
      justify-content: flex-start;
    }
    &-tabs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 55%;
      margin-right: 1.25rem;
      .tab {
        display: none;
        &:checked + label {
          color: $base-white;
          padding-bottom: 1rem;
        }
        &:checked + .mercury-label {
          background-color: $light-blue;
        }
        &:checked + .venus-label {
          background-color: $light-orange;
        }
        &:checked + .earth-label {
          background-color: $light-purple;
        }
        &:checked + .mars-label {
          background-color: $light-red;
        }
        &:checked + .jupiter-label {
          background-color: $dark-red;
        }
        &:checked + .saturn-label {
          background-color: $dark-orange;
        }
        &:checked + .uranus-label {
          background-color: $light-blueish-green2;
        }
        &:checked + .neptune-label {
          background-color: $darkish-blue;
        }
      }
    }
    &-label {
      font-size: $small-font;
      font-family: $spartan;
      cursor: pointer;
      font-weight: $bold;
      color: $light-grey;
      padding: 1rem;
      letter-spacing: $medium-spacing;
      border: 0.01rem solid $light-grey;
      margin: 0.5rem 0 0.5rem 0;
      &.overview::before {
        content: "01";
        opacity: 0.5;
      }
      &.structure::before {
        content: "02";
        opacity: 0.5;
      }
      &.surface::before {
        content: "03";
        opacity: 0.5;
      }
    }
  }
  .data-container {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
    .general-data {
      flex-direction: column;
      padding: 0.5rem;
      align-items: flex-start;
      h4 {
        opacity: 0.5;
      }
      h4,
      h3 {
        margin: 0.5rem 0;
      }
    }
  }
}

@media(min-width: 1080px) {
  .main-flex {
    display: flex;
    flex-direction: row;
  }
  .info {
    &-container {
      flex-direction: column;
      height: 100%;
      margin: 0;
    }
    &-text {
      width: 100%;
      margin: 0 1.25rem 0 0;
    }
  }
  .planet-image {
    margin: 0.5rem 0;
  }
  .image {
    &-container {
      width: 100%;
      & > * {
        width: 55%;
      }
    }
  }
}