@import "../../../sass/config";

.phone-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.01rem solid $light-grey;
  .tab {
    display: none;
    &:checked + label {
      color: $base-white;
      padding-bottom: 1rem;
    }
    &:checked + .mercury-label {
      border-bottom: 0.25rem solid $light-blue;
    }
    &:checked + .venus-label {
      border-bottom: 0.25rem solid $light-orange;
    }
    &:checked + .earth-label {
      border-bottom: 0.25rem solid $light-purple;
    }
    &:checked + .mars-label {
      border-bottom: 0.25rem solid $light-red;
    }
    &:checked + .jupiter-label {
      border-bottom: 0.25rem solid $dark-red;
    }
    &:checked + .saturn-label {
      border-bottom: 0.25rem solid $dark-orange;
    }
    &:checked + .uranus-label {
      border-bottom: 0.25rem solid $light-blueish-green2;
    }
    &:checked + .neptune-label {
      border-bottom: 0.25rem solid $darkish-blue;
    }
  }
  .info-label {
    font-size: $small-font;
    font-family: $spartan;
    cursor: pointer;
    font-weight: $bold;
    color: $light-grey;
    padding: 1.25rem;
    letter-spacing: $medium-spacing;
  }
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-source {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: $light-grey;
    a {
        color: $light-grey;
        margin: 0 0.25rem;
        cursor: pointer;
        &:hover {
            color: $base-white;
        }
    }
}
.general-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem 1rem ;
    width: 80vw;
    border: 0.01rem solid $light-grey;

    .stats {
      font-family: $antonio;
      font-weight: $regular;
      color: $base-white;
      font-size: $large-font !important;
    }
}
// MEDIA QUERIES FOR PHONE USERS
@media(max-width: 700px) {
  .planet {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-name {
        font-size: $large-font;
        font-family: $antonio;
        font-weight: $regular;
        letter-spacing: $medium-spacing;
        text-align: center;
        margin:1rem 0;
    }
      &-text {
      font-size: $medium-font;
      line-height: $regular-line;
        text-align: center;
        padding: 0 1rem;
    }
    &-image {
        margin: 5rem 0;
        &.mercury{
            width: 30%;
        }
        &.venus{
            width: 40%;
        }
        &.earth{
            width: 45%;
        }
        &.mars{
            width: 35%;
        }
        &.jupiter{
            width: 70%;
        }
        &.saturn{
            width: 70%;
        }
        &.uranus{
            width: 65%;
        }
        &.neptune{
            width: 65%;
        }
    }
  }
  .info-tabs {
    display: none
  }
}

@media(min-width: 700px) and (max-width: 1024px) {
  .phone-tabs {
    display: none;
  }
  .info{
    &-container {
      display: flex;
      flex-direction: row;
    }
    &-text {
      width: 60%;
      margin: 1rem;
    }
    &-source {
      justify-content: flex-start;
    }
    &-tabs {
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 65%;
        margin-right: 1rem;
        .tab {
          display: none;
        }
        .info-label {
          font-size: $small-font;
          font-family: $spartan;
          cursor: pointer;
          font-weight: $bold;
          color: $light-grey;
          padding: 1rem;
          letter-spacing: $medium-spacing;
          border: 0.01rem solid $light-grey;
          margin: 0.5rem;
        }
    }
  }
  .data-container {
    display: flex;
    flex-direction: row;
    .general-data {
      flex-direction: column;
    }
  }
}